
<h1>PokeMemo</h1>
<input type="button" value="Iniciar juego" id="iniciar" />
<table>
    @*  @if (true)*@

    <tbody>
        <tr>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
        </tr>
        <tr>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
        </tr>
        <tr>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
        </tr>
    </tbody>



</table>