@model MemoramaAPIWeb.Models.ViewModels.MemoViewModel
<h1>PokeMemo</h1>
<input type="button" value="Iniciar juego" id="iniciar" />
<table>
    @if (Model.poke1.isSelected==true)
    {
    <tbody>
        <tr>
            <td>
                <img src="~/images/@Model.poke1.idPoke" />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
        </tr>
        <tr>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
        </tr>
        <tr>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
            <td>
                <img />
            </td>
        </tr>
    </tbody>
    }


</table>